
<title>Sign up</title>
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-md shadow-md w-[400px]">
    <h2 class="text-2xl font-bold text-gray-800 font-roboto mb-6">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-2">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username" ,class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
      </div>

      <div class="mb-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-2">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-2">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mt-6">
        <%= f.submit "Sign up",class: "w-full bg-blue-400 text-white py-2 rounded-md font-roboto hover:bg-blue-600 transition duration-150" %>
      </div>
    <% end %>

    <!--部分テンプレートをレンダリング-->
    <div class="actions mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
